@{
    ViewData["Title"] = "AboutUs";
}
<aside>
    <div class="container">
        <div class="row">
            <div class="col-md-12  mt-2">
                <div class="card" style=" margin: 0 auto;">
                    <img src="https://majestycoffee.com/cdn/shop/articles/coffee_shop_empty.jpg?v=1694457840"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                        <h1 class="card-title">
                            Who We Are?
                        </h1>
                        <div class="card-text">
                            Zeusaku Coffee Shop is the meeting point for coffee enthusiasts.
                            For over 10 years, we have been striving to provide our customers with the highest
                            quality coffee experience. We combine our expertise in the coffee industry with
                            carefully selected coffee beans and professional baristas.<br>
                            <br>


                            <h3>Our Mission</h3>
                            Our mission is to provide our customers with an unforgettable experience with each cup
                            of coffee. We aim to offer not only coffee but also a warm atmosphere and friendly
                            service to our customers. At Zeusaku, we aspire to be an environmentally friendly and
                            community-contributing business without compromising on quality. <br>

                            <h3>Our Vision</h3>
                            Our vision is to be a leading brand in the coffee industry and to offer our customers
                            the best. Through constant innovative approaches and based on customer feedback, we aim
                            to strive for improvement and advancement every day. We are here to share our passion
                            for coffee while keeping our customers' satisfaction at the highest level.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>
