@{
    ViewData["Title"] = "Categories";
}

@await Html.PartialAsync("_ProductCardPV");
@section TextContent {
    <div class="asidebar">
        <div class="container">
            <div class="row">
                <div class="col-md-12  mt-5">



                    <div class="card" style=" margin: 0 auto;">
                        <img src="img/kahveler_background.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h1 class="card-title"> Coffe Bean</h1>
                            <p class="card-text">

                                Coffee Types: Coffee types vary based on the processing and roasting methods of coffee beans. For instance, there are various coffee types such as espresso, latte, cappuccino, americano, and more. Each type is prepared using a different brewing method or ingredients.
                            </p>


                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
}
